<!-- <app-navbar></app-navbar>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p basicCss class="mb-4">This is the example of basic css.</p>
      <p appRenderer class="mb-4">this is the example of renderer2.</p>
      <p appEventdir class="mb-4">this is the example of event directive.</p>
      <p appHostbinding>this is the example of hostbinding directive.</p>
      <p
        appHighlighter
        [defaultColor]="'red'"
        [highlightColor]="'yellow'"
        [appHighlighter]="'10px'"
      >
        this is the example of highlighter with input decoretor directive.
      </p>
      <p
        appHighlighter
        [defaultColor]="'green'"
        [highlightColor]="'blue'"
        [appHighlighter]="'10px'"
      >
        this is the example of highlighter with input decoretor directive.
      </p>
      <p appHighlighter [defaultColor]="'blue'" [highlightColor]="'orange'">
        this is the example of highlighter with input decoretor directive.
      </p>
      <p appHighlighter [defaultColor]="'orange'" [highlightColor]="'purple'">
        this is the example of highlighter with input decoretor directive.
      </p>

      <div class="form-group">
        <input appTolowercasedir type="text" class="form-control" />
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!-- <app-creditcarddir></app-creditcarddir> -->
      <app-card></app-card>
    </div>
  </div>
</div>
